.form-button{
    height: 40px;
    width: 140px;
    border-style: none;
    border-radius: 50px;
    border: 2px solid var(--primary-color);
    background-color: transparent ;
    font-size: 1rem;
    font-weight: 800;
    color: var(--primary-color);
    cursor: pointer;
    transition: .4s;

}

.form-button:hover{
    background-color: var(--primary-color);
    color: var(--second-color);
    transform: translate();
}

.form-button-light{
    border: 2px solid var(--text-color-light);
    color: var(--text-color-light);
}